@import "monday-ui-react-core/dist/main.css";
@import "node_modules/monday-ui-react-core/src/styles/typography.scss";

.subtitle, .runningText {
  @include font-general-text();
}

.sectionTitle {
  @include font-subtitle();
}

.sectionBox {
  padding: 24px;
  border: 1px solid var(--ui-border-color);
  border-radius: var(--spacing-medium)
}

.viewPermissionsForm {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small)
}

.extenedRadioItem {
  margin-inline-start: var(--spacing-xl);
  margin-block-start: var(--spacing-small);
}